<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="primary">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end>
      <button (click)="toggleReorder()" ion-button color="primary" *ngIf="!reorderIsEnabled">Edit</button>
      <button (click)="toggleReorder()" ion-button color="primary" *ngIf="reorderIsEnabled">Done</button>
    </ion-buttons>

    <ion-title>Processing</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list [reorder]="reorderIsEnabled" (ionItemReorder)="itemReorder($event)">
    <ion-item-sliding *ngFor="let doing of doings; let todoIndex = index">
      <ion-item-options side="right">
        <button color="danger" ion-button (click)="callDelete(todoIndex)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>

      <ion-item-options side="left">
        <button color="primary" ion-button (click)="addToTest(todoIndex)">
          <ion-icon name="md-checkmark"></ion-icon>
        </button>
      </ion-item-options>

      <ion-item>{{ doing }}</ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
