<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="primary">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Backlog</ion-title>

    <ion-buttons end>
      <button (click)="toggleReorder()" ion-button color="primary" *ngIf="!reorderIsEnabled">Edit</button>
      <button (click)="toggleReorder()" ion-button color="primary" *ngIf="reorderIsEnabled">Done</button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list [reorder]="reorderIsEnabled" (ionItemReorder)="itemReorder($event)">
    <ion-item-sliding *ngFor="let todo of todos; let todoIndex = index">

  <ion-item-options side="right">
    <button color="danger" ion-button (click)="callDelete(todoIndex)">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-item-options>

  <ion-item-options side="left">
    <button color="primary" ion-button (click)="addToDoing(todoIndex)">
      <ion-icon name="md-checkmark"></ion-icon>
    </button>
  </ion-item-options>

        <ion-item>{{ todo }}</ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="openTodoWin()">
        <!-- Other way to navigate -->
      <!-- <button ion-fab [navPush]="archiveTodosPage"> -->
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
